name: React CI

on:
  push:
    branches:
      - "main"

jobs:
  covdecov:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: [12.x, 13.x, 14.x, 15.x]

      - name: Install dependencies
        run: yarn install

      - name: Run tests
        run: yarn test:coverage

      - name: Upload coverage to Codecov
        uses:
          codecov/codecov-action@v1

          # - uses: aws-actions/configure-aws-credentials@v1
          #   with:
          #     aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          #     aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          #     aws-region: us-east-1 # optional: defaults to us-east-1
          #     # SOURCE_DIR: "public" # optional: defaults to entire repository
          # - run: aws s3 sync ./out s3://portfolio-stanley-wan
